{% extends "base.html" %}

<!-- base html 틀 안에 들어갈 내용 -->
{% block content %}
    <div class="plus_button">
        <a href="/info/diary_form?date="><i class="fas fa-plus fa-2x"></i></a>
    </div>
    <div class="container info">
        <h3 align="center">애견 달력</h3>
        <table id="calendar" border="3" align="center">
            <tr><!-- label은 마우스로 클릭을 편하게 해줌 -->
                <td><label onclick="prevCalendar()"><</label></td>
                <td align="center" id="tbCalendarYM" colspan="5">
                yyyy년 m월</td>
                <td><label onclick="nextCalendar()">></label></td>
            </tr>
            <tr>
                <td align="center"><font color ="#F79DC2">일</td>
                <td align="center">월</td>
                <td align="center">화</td>
                <td align="center">수</td>
                <td align="center">목</td>
                <td align="center">금</td>
                <td align="center"><font color ="skyblue">토</td>
            </tr>
        </table>
    </div>

<script>
    $(document).ready(function(){
        $("#calendar").find("td").click(function(){
            var ym = $("#tbCalendarYM").text().replace(/(\s*)/g,"");
            var d = $(this).text();
            //console.log(ym);
            //console.log(d);
            var date = ym+d+"일";
            console.log(date);
        });
    });
    buildCalendar();
</script>

{% endblock content %}