{% extends "base.html" %}

<!-- base html 틀 안에 들어갈 내용 -->
{% block content %}

{% if request.session.id %}

    <form action="/info/info_update/" method="post">
        {% csrf_token %}
    <div class="container info">
        <div class="form-group">
            <input type="hidden" class="form-control" id="id" name="id" value="{{ request.session.id }}" placeholder="애견 출생년도">
            <input type="hidden" class="form-control" id="idx" name="idx" value="{{ idx }}" placeholder="인덱스">
            <label for="formGroupExampleInput">애견 출생년도</label>
            <input type="date" class="form-control" id="dogda_birth" name="dogda_birth" value="{{ dogda_birth }}" placeholder="애견 출생년도">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">애견 이름</label>
            <input type="text" class="form-control" id="dogda_name" name="dogda_name" value="{{ dogda_name }}" placeholder="애견 이름">
        </div>
        <div class="form-group">
            {% if dogda_gender == "w" %}
            <input type="radio" class="radio" name="dogda_gender" value="w" checked="checked">여자
            <input type="radio" class="radio" name="dogda_gender" value="m">남자
            {% else %}
            <input type="radio" class="radio" name="dogda_gender" value="w">여자
            <input type="radio" class="radio" name="dogda_gender" value="m" checked="checked">남자
            {% endif %}
        </div>
        <div class="form-group">
            <select class ="form-control form-control-sm" name="dogda_type">
                <option value="mix"  id="mix" {% if dogda_type == "mix" %} selected="selected"{% endif %}>믹스견</option>
                <option value="mal"  id="mal" {% if dogda_type == "mal" %} selected="selected"{% endif %}>말티즈</option>
                <option value="jin"  id="jin" {% if dogda_type == "jin" %} selected="selected"{% endif %}>진돗개</option>
                <option value="dobe"  id="dobe" {% if dogda_type == "dobe" %} selected="selected"{% endif %}>도베르만</option>
                <option value="bul"  id="bul" {% if dogda_type == "bul" %} selected="selected"{% endif %}>불독</option>
                <option value="sab"  id="sab" {% if dogda_type == "sab" %} selected="selected"{% endif %}>삽살개</option>
                <option value="dal"  id="dal" {% if dogda_type == "dal" %} selected="selected"{% endif %}>달마시안</option>
                <option value="well"  id="well" {% if dogda_type == "well" %} selected="selected"{% endif %}>웰시코기</option>
                <option value="chi"  id="chi" {% if dogda_type == "chi" %} selected="selected"{% endif %}>치와와</option>
                <option value="yok"  id="yok" {% if dogda_type == "yok" %} selected="selected"{% endif %}>요크셔테리어</option>
                <option value="bishong"  id="bishong" {% if dogda_type == "bishong" %} selected="selected"{% endif %}>비숑</option>
                <option value="pudle"  id="pudle" {% if dogda_type == "pudle" %} selected="selected"{% endif %}>푸들</option>
                <option value="sibe"  id="sibe" {% if dogda_type == "sibe" %} selected="selected"{% endif %}>시베리안허스키</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">수정</button>
    </div>
    </form>

{% else %}
    <script>
    alert("로그인 해주세요");
    location.href='/info/login';
    </script>
{% endif %}

{% endblock content %}