{% extends "base.html" %}

<!-- base html 틀 안에 들어갈 내용 -->
{% block content %}

{% if request.session.id %}

    <div class="plus_button">
        <a href="/info/info_form/"><i class="fas fa-plus fa-2x"></i></a>
    </div>
    <div class="container info">
        <table class="table" style="font-size:10px;">
          <thead class="thead-dark">
            <tr>
              <th scope="col">id</th>
              <th scope="col">이름</th>
              <th scope="col">생일</th>
              <th scope="col">성별</th>
              <th scope="col">종류</th>
            </tr>
          </thead>
          <tbody>
          {% for data in list %}
              <th scope="row">{{ data.id }}</th>
                <td><a href="/info/info_update?id={{ data.id }}&dogda_name={{ data.dogda_name }}">{{ data.dogda_name }}</a></td>
              <td>{{ data.dogda_birth }}</td>
              <td>{{ data.dogda_gender }}</td>
              <td>{{ data.dogda_type }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>

{% else %}
    <script>
    alert("로그인 해주세요");
    location.href='/info/login';</script>
{% endif %}
{% endblock content %}
