{% extends "base.html" %}

<!-- base html 틀 안에 들어갈 내용 -->
{% block content %}
    <form action="/info/info_form/" method="post">
        {% csrf_token %}
    <div class="container info">
        <div class="form-group">
            <input type="hidden" class="form-control" id="id" name="id" value="pizzu" placeholder="애견 출생년도">
            <label for="formGroupExampleInput">애견 출생년도</label>
            <input type="text" class="form-control" id="dogda_birth" name="dogda_birth" placeholder="애견 출생년도">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">애견 이름</label>
            <input type="text" class="form-control" id="dogda_name" name="dogda_name" placeholder="애견 이름">
        </div>
        <div class="form-group">
            <input type="radio" class="radio" name="dogda_gender" value="w">여자
            <input type="radio" class="radio" name="dogda_gender" value="m">남자
        </div>
        <div class="form-group">
            <select class ="form-control form-control-sm" name="dogda_type">
                <option value="mix"  id="mix">믹스견</option>
                <option value="mal"  id="mal">말티즈</option>
                <option value="jin"  id="jin" selected="selected">진돗개</option>
                <option value="dobe"  id="dobe">도베르만</option>
                <option value="bul"  id="bul">불독</option>
                <option value="sab"  id="sab">삽살개</option>
                <option value="dal"  id="dal">달마시안</option>
                <option value="well"  id="well">웰시코기</option>
                <option value="chi"  id="chi">치와와</option>
                <option value="yok"  id="yok">요크셔테리어</option>
                <option value="bishong"  id="bishong">비숑</option>
                <option value="pudle"  id="pudle">푸들</option>
                <option value="sibe"  id="sibe">시베리안허스키</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">등록</button>
    </div>
    </form>
{% endblock content %}