{% extends "base.html" %}

<!-- base html 틀 안에 들어갈 내용 -->
{% block content %}

{% if request.session.id %}

    <div class="container info">
            {% csrf_token %}
          <div class="form-row">
            <div class="col">
                제목 <input type="text" class="form-control" id="title" name='title' value="{{ list.title }}" readonly>
                내용 <textarea class="form-control" id="content" name='content' readonly> {{ list.content }} </textarea>
            </div>
          </div>
          <div class="form-row">
              <div class="col" style="top:17px;">
                <a href="/info/notice/"><button type="button" class="btn btn-primary btn-lg btn-block">확인</button></a>
              </div>
          </div>

    </div>

{% else %}
   <script>
    alert("로그인 해주세요");
    location.href='/info/login';
    </script>
{% endif %}

{% endblock content %}