{% extends "base.html" %}

<!-- base html 틀 안에 들어갈 내용 -->
{% block content %}

{% if request.session.id %}

    {% if request.session.id == "admin" %}
    <div class="plus_button">
        <a href="/info/notice_form/"><i class="fas fa-plus fa-2x"></i></a>
    </div>
    {% endif %}
    <div class="container info">
        <table class="table" style="font-size:10px;">
          <thead class="thead-dark">
            <tr>
              <th scope="col">번호</th>
              <th scope="col">제목</th>
            </tr>
          </thead>
          <tbody>
          {% for data in list %}
            <tr>
              <th scope="row">{{ data.idx }}</th>
              <td><a href="/info/notice_detail?idx={{ data.idx }}">{{ data.title }}</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>

{% else %}
    <script>
    alert("로그인 해주세요");
    location.href='/info/login';
    </script>
{% endif %}

{% endblock content %}